<div class="grid-container">
  <h3 class="mat-h3">Total</h3>
  <mat-grid-list cols="3" rowHeight="200px" gutterSize="15px">
    <mat-grid-tile>
      <mat-card class="my-card">
        <mat-card-content class="my-content">
          <p>Total Cases</p>
          <p>{{case.cases}}</p>
       </mat-card-content>
      </mat-card> 
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="my-card">
        <mat-card-content class="my-content">
          <p>Total Deaths</p>
          <p>{{case.deaths}}</p>
       </mat-card-content>
      </mat-card> 
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="my-card">
        <mat-card-content class="my-content">
          <p>Total Recovered</p>
          <p>{{case.recovered}}</p>
       </mat-card-content>
      </mat-card> 
    </mat-grid-tile>
  </mat-grid-list> 
<!-- </div>
<div class="grid-container"> -->
  <h3 class="mat-h3">Today</h3>
<mat-grid-list cols="3" rowHeight="200px" gutterSize="15px">
  <mat-grid-tile>
    <mat-card class="my-card">
      <mat-card-content style="padding:1em;">
         <p>Cases</p>
         <p>{{case.todayCases}}</p>
      </mat-card-content>
    </mat-card> 
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="my-card">
      <mat-card-content class="my-content">
        <p>Deaths</p>
        <p>{{case.todayDeaths}}</p>
     </mat-card-content>
    </mat-card> 
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="my-card">
      <mat-card-content class="my-content">
        <p>Recovered</p>
        <p>{{case.todayRecovered}}</p>
     </mat-card-content>
    </mat-card> 
  </mat-grid-tile>
</mat-grid-list> 

</div>