.my-card {
    border: solid;
    border-radius: 10px;
    border-color: #0277BD;
    width: 80%;
    height: 90%;
    margin:2em;padding-top:0;padding-left:0;padding-right:0;
    text-align: center;
} 
// .my-content{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
// }