<div class="grid-container">
  <div class="container">
    <div class="text mat-typography"><h1>Total</h1></div>
    <div class="line"><mat-divider></mat-divider></div>
  </div>
  <mat-grid-list cols="3" rowHeight="200px" gutterSize="15px">
    <mat-grid-tile>
      <mat-card class="my-card">
          <div class="my-content">
            <p>Total Cases</p><br>
          <p>{{case.cases}}</p>
          </div>
       <!-- </mat-card-content> -->
      </mat-card> 
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="my-card">
        <div class="my-content">
          <p>Total Deaths</p><br>
          <p>{{case.deaths}}</p>
        </div>
      </mat-card> 
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="my-card">
        <div class="my-content">
          <p>Total Recovered</p><br>
          <p>{{case.recovered}}</p>
        </div>
      </mat-card> 
    </mat-grid-tile>
  </mat-grid-list> 
  <div class="container">
    <div class="text mat-typography"><h1>Today</h1></div>
    <div class="line"><mat-divider></mat-divider></div>
  </div>
<mat-grid-list cols="3" rowHeight="200px" gutterSize="15px">
  <mat-grid-tile>
    <mat-card class="my-card">
      <div class="my-content">
         <p>Cases</p><br>
         <p>{{case.todayCases}}</p>
      </div>>
    </mat-card> 
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="my-card">
      <div class="my-content">
        <p>Deaths</p><br>
        <p>{{case.todayDeaths}}</p>
     </div>
    </mat-card> 
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="my-card">
      <div class="my-content">
        <p>Recovered</p><br>
        <p>{{case.todayRecovered}}</p>
      </div>
    </mat-card> 
  </mat-grid-tile>
</mat-grid-list> 

</div>