// .example-card {
//     max-width: 250px;
//   }
  .my-card {
    border: solid;
    border-radius: 10px;
    border-color: #0277BD;
    width: 90%;
    height: 90%;
    margin:2em;padding-top:0;padding-left:0;padding-right:0;
    text-align: center;
} 
  
  .example-header-image {
    background-size: cover;
  }
  .img-flag{
      width: 80%;
  }
  .my-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}