<div class="container">
    <div class="text mat-typography"><h1>Countries</h1></div>
    <div class="line"><mat-divider></mat-divider></div>
  </div>
  <mat-card class="filter-card">
      <mat-card-content>
        <table width="100%">
            <tr>
                <td>
                  <mat-form-field class="filter-full-width">
                      <input matInput class="search-box" [(ngModel)]='searchText' placeholder="Search country">
                      <button mat-icon-button class="search-button" (click)="openSearch()">
                        <mat-icon>search</mat-icon>
                    </button>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="filter-full-width">
                    <mat-label>Sort By</mat-label>
                    <mat-select (selectionChange)="onSortChange($event)">
                        <mat-option value="">Select a sort</mat-option>
                        <mat-option value="country">Country</mat-option>
                        <mat-option value="cases">Cases</mat-option>
                        <mat-option value="deaths">Deaths</mat-option>
                        <mat-option value="recovered">Recovered</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
                  <mat-paginator [length]="countries?.length" [pageSize]="pageSize" [pageIndex]="page" [pageSizeOptions]="[30]"
                  (page)="getData($event)">
                  </mat-paginator>
                </td>
            </tr>
        </table>
      </mat-card-content>
  </mat-card>
<mat-grid-list cols="3" rowHeight="250px" gutterSize="15px">
    <mat-grid-tile *ngFor="let country of data">
        <mat-card class="my-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <img style="width: 50%;" src="{{country.countryInfo.flag}}" alt="Flag">
                </div>
                <mat-card-title>{{country.country}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-grid-list cols="3" rowHeight="50px" gutterSize="5px">
                    <mat-grid-list cols="3" rowHeight="1:1">
                        <mat-grid-tile>
                            <div>
                                <p>Cases</p>
                        <p>{{country.cases}}</p>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div>
                                <p>Deaths</p>
                        <p>{{country.deaths}}</p>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div>
                                <p>Recovered</p>
                                <p>{{country.recovered}}</p>   
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div>
                                <p>Tests</p>
                        <p>{{country.tests}}</p>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div>
                                <p>Population</p>
                        <p>{{country.population}}</p>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div>
                                <button mat-button class="menu-button" (click)="gotoEdit(country)" >
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </mat-grid-tile>
                      </mat-grid-list>
                  </mat-grid-list>
            </mat-card-content>
            <mat-card-actions>
                
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>